#main {
    max-width: 1000px;
    font-family: sans-serif;
    width: 100%;
}
img {
    max-width: 100%;
}
video {
    max-width: 100%;
}
a {
   color: black;
}
.date {
   color: gray;
}
body {
	background-color: white;
	color: black;
}

@media (prefers-color-scheme: dark) {
	a {
		color: white;
	}
	body {
		background-color: black;
		color: white;
	}
}
